.innercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-card {
  border: 1px solid #19725d;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  background: linear-gradient(to right, #f5f5f5, #e0e0e0);
  width: max-content;
  display: flex;
}

.profile-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.links-btn {
  border-radius: 20px;
  color: #fef1c7;
  font-size: 15px;
  font-weight: bold;
  margin: 5px !important;
  margin-top: 15px;
  padding: 8px 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #009688;
  perspective: 1000px;
  box-shadow: 1px 2px 0px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.012);
  transition: 0.21s;
  margin-left: 150px;
  background-color: #009688;
}

.links-btn:enabled {
  background-color: #009688;
}
.links-btn:enabled:hover {
  transform: scale(1);
  background-color: #00897b;
  box-shadow: none;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #333; /* Add a border around the avatar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  object-fit: cover;
}

.profile-details {
  margin-top: 20px;
  flex-grow: 1;
  flex-basis: 50%;
  flex-direction: column;
}

.detail {
  display: flex;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  width: 80px;
  padding: 0;
  color: #555; /* Change label text color */
}

.value {
  /* line-height: 1; */
  text-align: left;
  padding: 0;
  margin-left: 0 !important;
  color: #333; /* Change value text color */
}

/* Add hover effect on labels */
.label:hover {
  cursor: pointer;
  text-decoration: none !important;
}

/* Add transition for hover effect */
.value:hover {
  color: #007bff;
  transition: color 0.3s ease;
}

/* Additional styling */
.editHouskeeper td {
  padding-bottom: 17px !important;
  text-align: left;
  width: 80px;
  padding-right: 0;
}
.editHouskeeper {
  flex-grow: 1;
  flex-basis: 50%;
  margin-top: 18px;
  margin-left: 10px;
}

.editHouskeeper input {
  margin-left: 5px;
  border: 1px solid #229c80;
}

.edit-button {
  cursor: pointer;
  color: #1d1e1e;
  display: flex;
  justify-content: center;
}
