.container {
  max-width: 850px !important;
  margin-top: 100px;
  padding: 6px;
  box-shadow: 0 0 10px 1px #19725d;
  background-color: #f5f5f4;
  /* border-top: 6px solid #19725d; */
  display: flex;
  margin-top: 10px;
}
.form-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-decoration: none;
}
h2 {
  text-align: center;
  color: #19725d;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.input-name {
  width: 90%;
  position: relative;
  margin: 10px auto;
}

.name {
  width: 45%;
  padding: 6px 0 6px 30px;
}
.text-name {
  width: 93%;
  padding: 6px 0 6px 30px;
}
.t-name {
  width: 45%;
  padding: 5px 0 5px 10px;
}
.icon {
  position: absolute;
  font-size: 20px;
  color: #19725d;
  border-right: 2px solid #cccccc;
  margin: 10px 5px;
  padding-right: 3px;
}
.text-name,
.name,
.t-name {
  border: 1px solid #cccccc;
  outline: none;
}
.text-name:hover,
.name:hover,
.t-name:hover {
  background-color: rgb(249, 244, 238);
}
.text-name:focus,
.name:focus,
.t-name:focus {
  border: 1.5px solid #19725d;
}
.radio-btn {
  margin-right: 4px;
}
.btn {
  border-radius: 20px;
  color: #fef1c7;
  font-size: 15px;
  font-weight: bold;
  margin: 0 !important;
  margin-top: 15px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #009688;
  perspective: 1000px;
  box-shadow: 1px 2px 0px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.012);
  transition: 0.21s;
  margin-left: 150px;
  background-color: #009688;
}

.btn:enabled:hover {
  color: #fef1c7 !important;
  transform: scale(1);
  background-color: #00897b;
  box-shadow: none;
}
.img {
  max-width: 100%;
  padding-top: 28px;
  padding-left: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
  background-color: #f5f5f4;
}
.img:focus {
  outline: none;
}

.radio {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  color: black;
}
.radio + .radio {
  margin-left: 20px;
}
.radio input[type="radio"] {
  display: none;
}
.radio span {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 3px solid #19725d;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.radio span:after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #19725d;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}
.errorMessage {
  margin-top: 10px;
  color: red;
  text-align: center;
}
