/* .container-fb{
    padding-top: 40px;
    } */
.outercontainer {
  max-width: 1200px;
  width: 100%;
}
.inner-container1 {
  background: transparent;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.inner-container1 h3 {
  text-align: center;
  color: #19725d;
}

.inner-container1 table {
  width: 1200px;
  table-layout: fixed;
}

.inner-container1 thead{
  color: #f5f5f5;
}

.inner-container1 td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
  width: 200px;
  max-width: 200px; /* Set a fixed width for each td element */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  position: sticky;
  top: 0;
}

.inner-container1 th {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #229c80;
  font-weight: bold;
  text-align: center;
}
.inner-container1 tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.inner-container1 tbody tr:hover {
  background-color: #d4eeda;
}

.inner-container1 i {
  cursor: pointer;
  color: #19725d;
  margin-right: 8px;
}

.inner-container1 i:hover {
  color: #0056b3;
}
.pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.pagination li:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.pagination ul li.active {
  background-color: #19725d;
  color: #fff;
}
